@model Login_Register_wrapper
<h1>Welcome to the Dojo Activity Center</h1>
<hr>
<div style="width:40%;height:500px;display:inline-block;">
<center>
    <partial name="_Register" model="@Model.Register" />
</center>
</div>    
<div style="width:40%;height:500px;display:inline-block;;vertical-align: top">
<center>
    <partial name="_Login" model="@Model.Login" />
</center>
</div> 